{% extends 'emails/base_email.html' %}
{% block email_body %}
<h2>&#128218; You've been added to a room!</h2>
<p>Hi <strong>{{ user.get_full_name|default:user.username }}</strong>,</p>
<p>Your teacher has assigned you to a new learning room on {{ school_name }}.</p>
<div class="highlight">
  <p>&#128218; <strong>{{ room.name }}</strong><br>
     &#127979; Subject: {{ room.subject }}<br>
     &#127891; Grade Level: Grade {{ room.grade_level }}<br>
     &#128100; Teacher: {{ room.teacher.get_full_name|default:room.teacher.username }}</p>
</div>
<p>Log in to start accessing lessons, materials, and assignments in this room.</p>
<a href="#" class="btn">Open My Rooms</a>
{% endblock %}
